* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  height: 3000px;
  background-color: rgb(158, 158, 158);
  /* overflow-y: scroll; */
}

@font-face {
  font-family: "roboto";
  src: url("./Assets/fonts/Roboto-Regular.ttf");
}
